.max-width{
    max-width: 950px;
    margin: auto;
}

span{
    display: block ;
}
img{
    max-width: 128px ;
}
.max-width{
    max-width: 950px;
    margin: auto;
}
body{
    background-color: antiquewhite;
}
header{
    background-color: white;
}
main{
    background-color: white;
}
img{
    float:right;
}